@charset "UTF-8";
/* line 1, ../../Проекты/верстки/Интернет-магазин Quantum/scss/mixins/_card.scss */
.navigation, .info-block, .tabs, .card {
  border-radius: 6px;
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

/* line 1, ../../Проекты/верстки/Интернет-магазин Quantum/scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../Проекты/верстки/Интернет-магазин Quantum/scss/base/_base.scss */
body {
  background-color: #fafafa;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* line 11, ../../Проекты/верстки/Интернет-магазин Quantum/scss/base/_base.scss */
a {
  text-decoration: none;
}

/* line 14, ../../Проекты/верстки/Интернет-магазин Quantum/scss/base/_base.scss */
a:hover {
  text-decoration: none;
  color: #1875f0;
}

/* line 20, ../../Проекты/верстки/Интернет-магазин Quantum/scss/base/_base.scss */
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1;
}

/* line 27, ../../Проекты/верстки/Интернет-магазин Quantum/scss/base/_base.scss */
.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

/* line 33, ../../Проекты/верстки/Интернет-магазин Quantum/scss/base/_base.scss */
.hidden {
  display: none;
}

/* line 1, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header.scss */
.header {
  background-color: #fff;
  height: 180px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
}

/* line 8, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header.scss */
.header__container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 23px;
  padding-right: 41px;
  padding-top: 30px;
  padding-bottom: 38px;
}

/* line 21, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header.scss */
.header__logo {
  color: #4d4d4d;
  font-size: 22px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 1.76px;
}

/* line 29, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header.scss */
.header__search {
  display: flex;
  width: 468px;
  height: 50px;
  border-radius: 4px;
  border: 2px solid #f5f5f5;
}

/* line 37, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header.scss */
.header__search-input-wrapper {
  width: 278px;
  display: flex;
  align-items: center;
  border-right: 2px solid #f5f5f5;
}

/* line 45, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header.scss */
.header__search-input {
  height: 46px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
}

/* line 57, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header.scss */
.header__search-input::placeholder {
  color: #b3b3b3;
}

/* line 62, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header.scss */
.header__search-dropdown {
  width: 142px;
  border-right: 2px solid #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 71, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header.scss */
.header__search-button-wrapper {
  flex-grow: 1;
}

/* line 75, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header.scss */
.header__search-button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* line 86, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header.scss */
.header__links {
  display: flex;
  justify-content: space-between;
}

/* line 91, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header.scss */
.header__nav {
  border-top: 2px solid #f5f5f5;
}

/* line 1, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-select.scss */
.header-select {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* line 11, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-select.scss */
.header-select__title {
  position: relative;
  width: 83px;
  color: #b3b3b3;
  font-size: 10px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

/* line 21, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-select.scss */
.header-select__title::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  content: "";
  display: block;
  width: 8px;
  height: 5px;
  background-image: url("./../img/icons/dropdown-arrow.svg");
}

/* line 34, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-select.scss */
.header-select__dropdown {
  position: absolute;
  top: 100%;
  left: -2px;
  right: -2px;
  border: 2px solid #f5f5f5;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
}

/* line 45, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-select.scss */
.hidden {
  display: none;
}

/* line 49, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-select.scss */
.header-select__dropdown-item {
  height: 40px;
  color: #808080;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  padding-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* line 60, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-select.scss */
.header-select__dropdown-item:not(:last-child) {
  border-bottom: 2px solid #f5f5f5;
}

/* line 64, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-select.scss */
.header-select__dropdown-item:hover {
  background-color: #f1f1f1;
}

/* line 69, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-select.scss */
.header-select.header-select--nav {
  padding-left: 28px;
  padding-right: 28px;
}

/* line 73, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-select.scss */
.header-select.header-select--nav .header-select__title {
  width: auto;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  line-height: 1;
  color: #b3b3b3;
  padding-right: 20px;
}

/* line 1, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-link.scss */
.header-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #808080;
  transition: 0.2s color ease-in;
}

/* line 8, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-link.scss */
.header-link:not(:last-child) {
  margin-right: 35px;
}

/* line 12, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-link.scss */
.header-link svg {
  fill: gray;
  transition: 0.2s fill ease-in;
}

/* line 17, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-link.scss */
.header-link:hover {
  color: #1875f0;
  text-decoration: none;
}

/* line 21, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-link.scss */
.header-link:hover svg {
  fill: #1875f0;
}

/* line 28, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-link.scss */
.header-link__icon {
  position: relative;
  width: 21px;
  height: 21px;
  margin-right: 18px;
}

/* line 35, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-link.scss */
.header-link--notify .header-link__icon::after {
  position: absolute;
  top: -8px;
  right: -7px;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #1875f0;
  border-radius: 50%;
}

/* line 46, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-link.scss */
.header-link__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

/* line 3, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-nav.scss */
.header-nav {
  border-left: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5;
  display: flex;
  width: 1110px;
  margin: 0 auto;
  height: 60px;
}

/* line 12, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-nav.scss */
.header-nav__categories {
  border-right: 2px solid #f5f5f5;
}

/* line 16, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-nav.scss */
.header-nav__deals {
  border-right: 2px solid #f5f5f5;
  padding-left: 38px;
  padding-right: 38px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

/* line 25, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-nav.scss */
.header-nav__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #808080;
  text-decoration: none;
  transition: 0.2s color ease-in;
}

/* line 34, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-nav.scss */
.header-nav__link:not(:last-child) {
  margin-right: 35px;
}

/* line 38, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-nav.scss */
.header-nav__link:hover {
  color: #1875f0;
  text-decoration: none;
}

/* line 44, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-nav.scss */
.header-nav__select {
  display: flex;
}

/* line 49, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-nav.scss */
.header-nav__select-item:not(:last-child) {
  border-right: 2px solid #f5f5f5;
}

/* line 1, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-mega-menu-link.scss */
.header-mega-menu-link {
  padding: 0 40px 0 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
  color: #808080;
  transition: 0.2s color ease-in;
}

/* line 11, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-mega-menu-link.scss */
.header-mega-menu-link:hover {
  color: #1875f0;
  text-decoration: none;
}

/* line 15, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-mega-menu-link.scss */
.header-mega-menu-link:hover svg {
  fill: #1875f0;
}

/* line 21, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-mega-menu-link.scss */
.header-mega-menu-link__icon {
  margin-right: 22px;
}

/* line 24, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-mega-menu-link.scss */
.header-mega-menu-link__icon svg {
  fill: gray;
  transition: 0.2s fill ease-in;
}

/* line 32, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_header-mega-menu-link.scss */
.header-mega-menu-link__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

/* line 1, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-dropdown.scss */
.nav-dropdown {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 28px;
  padding-right: 28px;
}

/* line 14, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-dropdown.scss */
.nav-dropdown__title {
  position: relative;
  width: auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #b3b3b3;
  padding-right: 20px;
  transition: 0.2s color ease-in;
}

/* line 25, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-dropdown.scss */
.nav-dropdown__title-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  content: "";
  display: block;
  width: 8px;
  height: 5px;
  font-size: 0;
}

/* line 37, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-dropdown.scss */
.nav-dropdown__title-icon svg {
  fill: #b3b3b3;
  transition: 0.2s fill ease-in;
}

/* line 43, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-dropdown.scss */
.nav-dropdown__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: -2px;
  right: -2px;
  border: 2px solid #f5f5f5;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  z-index: 2;
}

/* line 56, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-dropdown.scss */
.nav-dropdown:hover .nav-dropdown__title {
  color: #1875f0;
}

/* line 60, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-dropdown.scss */
.nav-dropdown:hover svg {
  fill: #1875f0;
}

/* line 64, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-dropdown.scss */
.nav-dropdown:hover .nav-dropdown__dropdown {
  display: block;
}

/* line 69, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-dropdown.scss */
a.nav-dropdown__dropdown-item {
  height: 40px;
  color: #808080;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  padding-left: 28px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* line 80, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-dropdown.scss */
a.nav-dropdown__dropdown-item:not(:last-child) {
  border-bottom: 2px solid #f5f5f5;
}

/* line 84, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-dropdown.scss */
a.nav-dropdown__dropdown-item:hover {
  background-color: #f1f1f1;
}

/* line 1, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_carousel.scss */
.carousel-section {
  margin-bottom: 30px;
}

/* line 9, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_carousel.scss */
.carousel__item {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 330px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), url("./../img/carousel/slide-01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6px;
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.08);
}

/* line 28, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_carousel.scss */
.carousel__item-title {
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  color: #ffffff;
}

/* line 36, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_carousel.scss */
.carousel__item-text {
  opacity: 0.5;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  color: #ffffff;
}

/* line 43, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_carousel.scss */
.carousel__item-text p {
  margin-bottom: 40px;
}

/* line 1, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

/* line 5, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

/* line 14, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-nav [class*='owl-']:hover {
  color: #FFF;
  text-decoration: none;
}

/* line 17, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

/* line 23, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-nav button.owl-prev,
.owl-theme .owl-nav button.owl-next {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: solid 2px #ffffff;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 21px;
}

/* line 40, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-nav button.owl-prev {
  left: 60px;
  background-image: url("./../img/carousel-icon/arrow-icon-left.svg");
}

/* line 45, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-nav button.owl-next {
  right: 60px;
  background-image: url("./../img/carousel-icon/arrow-icon-right.svg");
}

/* line 52, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

/* line 55, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

/* line 63, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
  outline: none;
  border: 0;
  background: transparent;
}

/* line 71, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-dots .owl-dot span {
  margin: 15px 15px;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  width: 68px;
  height: 2px;
  background-color: #ffffff;
  opacity: 0.3;
}

/* line 82, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1;
}

/* line 1, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_promo-section.scss */
.promo-section {
  margin-bottom: 30px;
}

/* line 5, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_promo-section.scss */
.promo-section__row {
  display: flex;
  justify-content: space-between;
}

/* line 10, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_promo-section.scss */
.promo-section__col {
  width: 350px;
}

/* line 1, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_promo-section-item.scss */
.promo-section-item-link-wrapper {
  display: block;
}

/* line 5, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_promo-section-item.scss */
.promo-section-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  max-width: 350px;
  height: 330px;
  border-radius: 6px;
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  transition: box-shadow 0.2s ease-in, transform 0.2s ease-in;
}

/* line 18, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_promo-section-item.scss */
.promo-section-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 3px 25px 0 rgba(0, 0, 0, 0.33);
}

/* line 24, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_promo-section-item.scss */
.promo-section-item__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #666666;
  margin-bottom: 20px;
  text-align: center;
}

/* line 33, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_promo-section-item.scss */
.promo-section-item__subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #b3b3b3;
  margin-bottom: 40px;
}

/* line 41, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_promo-section-item.scss */
.promo-section-item--background-img {
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  padding-bottom: 45px;
}

/* line 47, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_promo-section-item.scss */
.promo-section-item--background-img .promo-section-item__title {
  color: #fff;
}

/* line 51, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_promo-section-item.scss */
.promo-section-item--background-img .promo-section-item__subtitle {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.3);
}

/* line 57, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_promo-section-item.scss */
.promo-section-item--background-img-watch {
  background-image: url(./../img/promo/watch.jpg);
}

/* line 63, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_promo-section-item.scss */
.promo-section-item-link-wrapper--column:not(:last-child) {
  margin-bottom: 30px;
}

/* line 68, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_promo-section-item.scss */
.promo-section-item--small {
  flex-direction: row;
  align-items: center;
  padding: 20px;
  height: 150px;
  text-align: left;
}

/* line 75, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_promo-section-item.scss */
.promo-section-item--small .promo-section-item__title {
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  color: #666666;
  text-align: left;
  margin-bottom: 0;
  margin-right: 15px;
}

/* line 86, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_promo-section-item.scss */
.promo-section-item__img-cell {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  margin-right: 25px;
}

/* line 95, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_promo-section-item.scss */
.promo-section-item__title-cell {
  display: flex;
  align-items: center;
}

/* line 5, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_main.scss */
.main__row {
  display: flex;
}

/* line 9, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_main.scss */
.main__column-left {
  width: 255px;
  flex-shrink: 0;
  margin-right: 30px;
}

/* line 14, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_main.scss */
.main__column-left > * + * {
  margin-top: 30px;
}

/* line 19, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_main.scss */
.main__column-right {
  flex-grow: 1;
}

/* line 5, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_navigation.scss */
.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 11, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_navigation.scss */
.navigation__item {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 2px solid #f5f5f5;
  color: #808080;
  cursor: pointer;
  transition: 0.2s color ease-in;
}

/* line 20, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_navigation.scss */
.navigation__item:last-child {
  border-bottom: none;
}

/* line 24, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_navigation.scss */
.navigation__item:hover {
  color: #1875f0;
}

/* line 27, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_navigation.scss */
.navigation__item:hover svg {
  fill: #1875f0;
}

/* line 33, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_navigation.scss */
.navigation__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 56px;
  margin-right: 1px;
}

/* line 41, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_navigation.scss */
.navigation__item-icon svg {
  fill: #ccc;
  transition: 0.2s fill ease-in;
}

/* line 47, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_navigation.scss */
.navigation__item-title {
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
}

/* line 53, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_navigation.scss */
.navigation__item-arrow {
  margin-left: auto;
  padding-right: 20px;
}

/* line 57, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_navigation.scss */
.navigation__item-arrow svg {
  fill: #ccc;
  transition: 0.2s fill ease-in;
}

/* line 1, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_info-block.scss */
.info-block {
  padding: 30px 20px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 11, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_info-block.scss */
.info-block__title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #666666;
}

/* line 19, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_info-block.scss */
.info-block__subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  color: #d1d1d1;
}

/* line 1, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_tabs.scss */
.tabs {
  padding: 0 40px;
  display: flex;
  width: 100%;
  height: 60px;
}

/* line 9, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_tabs.scss */
.tabs__btn {
  padding: 0;
  height: 100%;
  background: transparent;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  color: #808080;
  transition: 0.2s color ease-in;
  text-align: center;
  cursor: pointer;
}

/* line 23, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_tabs.scss */
.tabs__btn:hover {
  color: #1875f0;
  transition: 0.2s color ease-in;
}

/* line 29, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_tabs.scss */
.tabs__btn + .tabs__btn {
  margin-left: 50px;
}

/* line 34, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_tabs.scss */
.tabs__btn--active {
  color: #1875f0;
  border-bottom: 2px solid #1875f0;
}

/* line 1, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.cards-wrapper {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-;
}

/* line 7, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.cards-wrapper > * {
  margin-bottom: 30px;
}

/* line 11, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.cards-wrapper > *:not(:nth-child(3n)) {
  margin-right: 30px;
}

/* line 16, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.card {
  padding: 20px;
  width: 255px;
}

/* line 22, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

/* line 29, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.card__sale {
  height: 21px;
  border-radius: 4px;
  background-color: #f7f7f7;
  padding: 6px 10px;
  font-size: 10px;
  font-weight: 900;
  line-height: 1;
  color: #b3b3b3;
  text-transform: uppercase;
}

/* line 42, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.card__icon-btns {
  display: flex;
  align-items: center;
}

/* line 47, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.card__icon-btn {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* line 53, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.card__icon-btn + .card__icon-btn {
  margin-left: 25px;
}

/* line 57, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.card__icon-btn svg {
  fill: #d8d6d6;
  transition: 0.2s fill ease-in;
}

/* line 62, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.card__icon-btn:hover svg {
  fill: #1875f0;
  transition: 0.2s fill ease-in;
}

/* line 68, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.card__img {
  height: 160px;
  margin-bottom: 34px;
  text-align: center;
}

/* line 74, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.card__title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: #666666;
  text-align: center;
}

/* line 83, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.card__rating {
  display: flex;
  justify-content: center;
  margin-bottom: 29px;
  margin-top: 22px;
}

/* line 89, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.card__rating > * + * {
  margin-left: 4px;
}

/* line 94, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.card__rating-value {
  margin-left: 16px;
  margin-top: 3px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: 0.12px;
  color: #b3b3b3;
}

/* line 104, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.card__footer {
  display: flex;
  justify-content: center;
}

/* line 109, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.card__price {
  font-size: 16px;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.16px;
  color: #666666;
}

/* line 117, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.card__cart {
  margin-left: 17px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* line 124, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.card__cart svg {
  fill: #e6e4e4;
  transition: 0.2s fill ease-in;
}

/* line 129, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_card.scss */
.card__cart:hover svg {
  fill: #1875f0;
  transition: 0.2s fill ease-in;
}

/* line 1, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_footer.scss */
.footer {
  background-color: #ffffff;
}

/* line 5, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_footer.scss */
.container--footer {
  max-width: 946px;
}

/* line 9, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_footer.scss */
.footer-top-wrapper {
  border-bottom: 2px solid #f5f5f5;
}

/* line 13, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_footer.scss */
.footer-top-wrapper .container {
  padding: 0 82px;
}

/* line 17, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_footer.scss */
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 52px;
}

/* line 25, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_footer.scss */
.footer__row--copyright {
  padding-top: 40px;
  padding-bottom: 49px;
}

/* line 30, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_footer.scss */
.footer__logo {
  color: #4d4d4d;
  font-size: 22px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 1.76px;
}

/* line 3, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-footer.scss */
.nav-footer__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 10, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-footer.scss */
.nav-footer__list-item {
  margin: 0;
  padding: 0;
}

/* line 14, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-footer.scss */
.nav-footer__list-item + .nav-footer__list-item {
  margin-left: 60px;
}

/* line 19, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-footer.scss */
.nav-footer__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #666666;
  transition: 0.2s color ease-in;
}

/* line 27, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-footer.scss */
.nav-footer__link:hover {
  color: #1875f0;
  transition: 0.2s color ease-in;
}

/* line 34, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-footer.scss */
.nav-footer__link--dropdown {
  position: relative;
  padding-right: 20px;
}

/* line 38, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-footer.scss */
.nav-footer__link--dropdown span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-60%);
}

/* line 44, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-footer.scss */
.nav-footer__link--dropdown span svg {
  fill: #b3b3b3;
  transition: 0.2s fill ease-in;
}

/* line 52, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_nav-footer.scss */
.nav-footer__link--dropdown:hover svg {
  fill: #1875f0;
  transition: 0.2s fill ease-in;
}

/* line 1, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_social.scss */
.social {
  display: flex;
  align-items: center;
}

/* line 6, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_social.scss */
.social__item {
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 13, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_social.scss */
.social__item + .social__item {
  margin-left: 34px;
}

/* line 17, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_social.scss */
.social__item svg {
  fill: #666;
  transition: 0.2s fill ease-in;
}

/* line 22, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_social.scss */
.social__item:hover svg {
  fill: #1875f0;
  transition: 0.2s fill ease-in;
  text-decoration: none;
}

/* line 1, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_copyright.scss */
.copyright {
  display: flex;
}

/* line 6, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_copyright.scss */
.copyright__item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #b8b8b8;
  transition: 0.2s color ease-in;
}

/* line 14, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_copyright.scss */
.copyright__item + .copyright__item {
  margin-left: 30px;
}

/* line 18, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_copyright.scss */
.copyright__item a {
  text-decoration: none;
  color: inherit;
}

/* line 22, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_copyright.scss */
.copyright__item a:hover {
  color: #1875f0;
  transition: 0.2s color ease-in;
}

/* line 1, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_payments.scss */
.payments {
  display: flex;
  align-items: center;
}

/* line 5, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_payments.scss */
.payments__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #b8b8b8;
  margin-right: 30px;
}

/* line 13, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_payments.scss */
.payments__icons {
  display: flex;
}

/* line 19, ../../Проекты/верстки/Интернет-магазин Quantum/scss/blocks/_payments.scss */
.payments__icon + .payments__icon {
  margin-left: 20px;
}

/*# sourceMappingURL=main.css.map */